<h2> All Users </h2>
	<% @users.each do |user| %>
		<div class="card col-sm-12 my-auto">		
		  <div class="card-header">	  
		      <%= user.name %>
		  </div>
	      <br>   
	    </div>
   <% end %><br>

