	
	 <div class="card ">
   
    <%= gravatar_for @user %>
  
  <div class="card-header">
    <%= @user.name %>

  </div>
  <div class="card-body">
    <h5 class="card-title">
    	
      <%= @user.email %>
	    </h5>
    
  </div>
</div>